<script>
  alert("This site is not yet complete, So don't read it. Look away!");
</script>
<header class="site-header">
<nav class="navbar navbar-default navbar-inverse">
  <div class="container-fluid">
    <!-- navbar-header, This displays the Site title and navigation menu when collapsed -->
    <div class="navbar-header">
      <button type="button"
              class="navbar-toggle collapsed"
              data-toggle="collapse"
              data-target="#es-topbar-collapsed"
              aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{site.baseurl}}/">
        <span class="caligraf">{{site.project_name}}</span>
        <span class="sketch">(Synkoda)</span>
      </a>
    </div> <!-- /.navbar-header -->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse " id="es-topbar-collapsed">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{site.baseurl}}/tuts/"><i class="fa fa-file-text" aria-hidden="true"></i> Tutorials</a></li>
        <li><a href="{{site.baseurl}}/refs/"><i class="fa fa-book" aria-hidden="true"></i> References</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-plug" aria-hidden="true"></i>
 Resources <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a target="_blank" href="{{site.baseurl}}/videos/"><i class="fa fa-video-camera" aria-hidden="true"></i> Videos</a></li>
            <li><a target="_blank" href="{{site.baseurl}}/docs/"><i class="fa fa-paperclip" aria-hidden="true"></i>
 Docs</a></li>
            <li role="separator" class="divider"></li>
            <li><a target="_blank" href="https://github.com/synkodr/synkodr.github.io"><i class="fa fa-rocket" aria-hidden="true"></i>
 Invlove</a></li>
            <li><a href="https://https://github.com/synkodr/synkodr.github.io/archive/master.zip"><i class="fa fa-download" aria-hidden="true"></i>
 Download Site</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</header>
